name: 'build'

on:
  push:
    paths-ignore:
      - README.adoc
      - .gitignore
      - .editorconfig
      - LICENSE.txt
      - LICENSE
    branches:
      - main
  pull_request:
    paths-ignore:
      - README.adoc
      - .gitignore
      - .editorconfig
      - LICENSE.txt
      - LICENSE

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Check
        run: ./gradlew check spotlessCheck
